Body{
    background-color:rgb(196, 170, 23);
}
P{
    color: white;
}

a{ 
    color: white;
}
.one {  width:800px;
    background-color: white;
    margin-left:auto;
    margin-right: auto;
    border-radius:10px;
}

header{
    padding:50px; 
    overflow: hidden 
}
header>#logo{
    float:left;
}

nav{
    float: right;

}
main{
    padding:50px;
    overflow:hidden
}

section{

    float:left;
    width:70%

}
 footer>p{
     text-align:center;
     padding:20px;
     border-top: 1px solid black;}
 


 